{%  extends 'workoutweb/base.html' %}

{% block title_block %}
    Login Page
{% endblock %}

{%  block body_block %}

<div class="container">
  <h2>Login</h2>
  <form id="login_form" method="post" action=".">
      {% csrf_token %}
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" placeholder="Enter username" name="username" value="" size="50" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" value="" size="50" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}