{% extends 'workoutweb/base.html' %}
{% load staticfiles %}

{%  block body_block %}
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>We are the creators of WorkoutWeb! A forum that revolves around
                    all things fitness and workout, WorkoutWeb is targeted towards
                    anyone interested in sharing their hints, tips and progress.</br>
                    As well as, those who are wanting to improve their fitness or
                    lose weight.The aim of WorkoutWeb is to provide a place for
                    anyone to access information on other users’ inspiration and
                    workout styles, simply a place for users to show off how much they
                    can deadlift or for users to just ask questions or follow fitness threads.</br>
                    Our team is made up of 4 members all studying Computer Science at
                    the university of glasgow.
                </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static "images/abdul.jpg" %}"
                    alt="Abdul" width="300" height="300"/>
                <h3>Abdul
                    <small>Back-End WebApp Dev</small>
                </h3>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static "images/jaskaran.jpg" %}"
                    alt="Jaskaran" width="300" height="300"/>
                <h3>Jaskaran
                    <small>Back-End WebApp Dev</small>
                </h3>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static "images/millie.jpg" %}"
                    alt="Millie" width="300" height="300">
                <h3>Millie
                    <small>Junior WebApp Dev</small>
                </h3>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static "images/naji.jpg" %}"
                    alt="Naji" width="300" height="300"/>
                <h3>Naji
                    <small>CSS KING</small>
                </h3>
            </div>
        </div>
    </div>

{% endblock %}


