{%  extends 'workoutweb/base.html' %}
{% load staticfiles %}


{% block title_block %}
    My Account Page
{% endblock %}

{% block body_block %}

    <div class = "profilepic">

        {% if user.userprofile.picture %}
            <img class="img-circle img-center" src="{{ MEDIA_URL }}{{ user.userprofile.picture}}"
                alt="profilepic" width="300" height="300"/>
        {% else %}
            <img class="img-circle img-center" src="{% static 'images/default-profile.jpg' %}"
                alt="profilepic" width="300" height="300"/>
        {% endif %}

    </div>

    <div>
    <h1><p>Username: {{ user.userprofile.user }}</p></h1>
    <p>Bio: {{ user.userprofile.bio }}</p>
    <p>Height: {{ user.userprofile.height }}</p>
    <p>weight: {{ user.userprofile.weight }}</p>
    </div>

    <h2>Posts you have liked</h2>
    {% if post %}
        {% for userpost in post %}
        <ul>
            <li><strong>{{ userpost }} </strong></li>
        </ul>
        {% endfor %}
    {% else %}
        <p>No posts to show</p>
    {% endif %}
    <strong>click here to update your profile page</strong>
    <a href="{% url 'workoutweb:account_settings' %}">Account Settings</a></br>
{% endblock %}

