{% extends 'workoutweb/base.html' %}

{% block title_block %}
    Categories
{% endblock %}


{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-10">

                <h1 class="page-header">
                    {% if category %}
                        {{ category.name }}
                        <small>Posts:</small>
                        </h1>

                        <!-- Posts -->
                        {% if posts %}
                             {% for post in posts %}
                                <h2><b><a href="{% url 'workoutweb:show_post' category.slug post.slug %}">{{ post.title }}</a></b></h2>

                                <!-- Date/Time Likes/Views-->
                                <p><span class="glyphicon glyphicon-time"></span> {{ post.time }}</p>

                                <!-- Post Content -->
                                <div class="lead">
                                    <p>{{ post.content }} </p>
                                </div>
                                <p><span class="glyphicon glyphicon-thumbs-up"</span><b>likes:</b>{{post.likes}} <span class="glyphicon glyphicon-eye-open"</span><b>views:</b>{{post.views}}</p>

                                <br>
                                {% if post in userlikedposts %}
                                    <form action="/workoutweb/category/{{ category.slug }}/{{ post.slug }}/removepost/" method="delete">
                                        {% csrf_token %}
                                        <button type="submit" value="preview" name="Preview">Delete post</button>
                                    </form>
                                {% endif %}

                                <hr>
                             {% endfor %}
                        {% else %}
                             <strong>No posts currently in category.</strong>
                        {% endif %}

                        <!-- Checks if a post is same title -->
                        {% if repeat %}
                            <b><font size="3" color="red">{{ repeat }}</font></b>
                        {% endif %}
                        <!--Creating a new post-->
                        {% if user.is_authenticated %}
                        <h3>Post information</h3>
                        <form id="post_form" method="post" action="/workoutweb/category/{{ category.slug }}/">
                            <div>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" form="post_form" id="title" placeholder="Enter title" name="title" value="" size="50" required>
                                    <textarea class="form-control" form="post_form" rows="3" name="content" value="Post content" required></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        {% else %}
                          <b> <font size="5" color="Black"> In order to create a post, please <a href="/accounts/register/">sign up</a> for an account.</font></b>
                        {% endif %}
                    {% else %}
                        The specified category does not exist!
                    {% endif %}
            </div>
        </div>
    </div>
{%  endblock %}