{% extends 'workoutweb/base.html' %}


{% block title_block %}
    Frequently Asked Questions
{% endblock %}

{%  block body_block %}

    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Frequently Asked Questions
                    <small>You've got questions, we have answers !</small>
                </h1>
            </div>
        </div>
    </div>

        <!-- QUESTIONS -->
        <section class="faq-section">
            <input type="checkbox" id="q1">
            <label for="q1">What should I use WorkoutWeb for?</label>
            <p> You can use WorkoutWeb for all things fitness and health!</p>
            <p> As long as you respect all other users and their
                opinions, you will be able to enjoy your time as a member! Feel free to to comment on posts, share your opinions,
                and get the latest tips and tricks.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q2">
            <label for="q2">Who are we?</label>
            <p> We are the keen computer scientist behind the idea of WorkoutWeb!
            </p>
            <p> If you want to know more about us, check out the About Us Section.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q3">
            <label for="q3">How do I create a WorkoutWeb account?</label>
            <p> If you don't have a Facebook account, you can create one in a few steps:
            </p>
            <p> > Go to www.workoutweb.com OR localHost:8000 :D<br>
                > Click on the "sign-up" button in the top right corner of any page.<br>
                > Fill in the required fields<br>
                > Click 'Register'<br>
                <br>
                If you already have a WorkoutWeb account, you can log into your
                account by entering your username and password and clicking Log In.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q4">
            <label for="q4">I've forgotten my password!</label>
            <p> If you've forgotten your password, please proceed your profile page
            </p>
            <p> Passwords can be changed accessing the link on the account settings page
                along with additional information such as weight, height and bio
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q5">
            <label for="q5">What names are allowed on WorkoutWeb?</label>
            <p> WorkoutWeb is a community where everyone uses any name they'd prefer to be called by.
            </p>
            <p> Your name can't include:<br>
                > Symbols, numbers, unusual capitalization, repeating characters or punctuation<br>
                > Characters from multiple languages<br>
                > Titles of any kind (ex: professional, religious)<br>
                > Words or phrases in place of a name<br>
                > Offensive or suggestive words of any kind<br>
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q6">
            <label for="q6">Your Home Page</label>
            <p> We have designed WorkoutWeb such that it always shows the top 5 posts on each topic.
            </p>
            <p> This way we can make sure to keep our members up to date with the best of the best
                posts out there. We are still in the developing stage so please send us any suggestions
                through the 'Contact Us' page above. :)
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q7">
            <label for="q7">I can't access all the information on the forum.</label>
            <p> You can only see everything on the website as a signed-up member.
            </p>
            <p> If you don't have an account yet, you can create one
                by clicking on the "sign-up" button in the top right corner.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q8">
            <label for="q8">Who can be a member?</label>
            <p> Anyone can be a member of WorkoutWeb.
            </p>
            <p> As long as you respect other users and don't use foul or discriminative language
                we are happy for anyone to make use of WorkoutWeb!
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q9">
            <label for="q9">Contacting Us</label>
            <p> WorkoutWeb is committed to creating a great experience for all people.
            </p>
            <p> if you encounter an issue and would like to complain we recommend that you
                immediately inform a representative of WorkoutWeb through the Contact us.
                If they are unable to resolve your issue to your satisfaction you must then
                contact our support team.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q10">
            <label for="q10">How do I change my user details?</label>
            <p> You can change your account information using the Account Settings.
            </p>
            <p> For basic profile details (including your email address and password) click
                on Account settings when you are logged in .This page allows you to set
                a number of required and optional details, some of
                which will be displayed on your public profile. With the exception of
                your email address, do not enter information that you do not wish to be
                publicly viewable.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q11">
            <label for="q9">Accessibility</label>
            <p> WorkoutWeb is committed to creating a great experience for all people.
            </p>
            <p> Learn about the built-in features and technologies that help
                people with disabilities, like vision loss and deafness, to get the most
                out of WorkoutWeb.
            </p>
        </section>

        <section class="faq-section">
            <input type="checkbox" id="q12">
            <label for="q9">I found a bug! Now what?</label>
            <p> The most important things when reporting a bug are to be as specific as possible
            </p>
            <p> If the bug is not known about, please give us enough information that we can
                reproduce the bug ourselves on the correct operating system. Otherwise it's
                unlikely that we'll be able to fix it.
            </p>
        </section>


{% endblock %}
