{% extends 'workoutweb/base.html' %}


{% block title_block %}
    Frequently Asked Questions
{% endblock %}

{%  block body_block %}

    <div class="container">
        <h1><font face="Berlin Sans FB">Frequently Asked Questions</font></h1>
    </div>

        <section class="faq-section">
            <input type="checkbox" id="q1">
            <label for="q1">What should I use WorkoutWeb for?</label>
            <p> You can use WorkoutWeb for all things fitness and health!</p>
            <p> As long as you respect all other users and their
                opinions, you will be able to enjoy your time as a memeber! Feel free to to comment on posts, share your opinions,
                and get the latest tips and tricks.
            </p>
        </section>

        <section class="faq-section">
        <input type="checkbox" id="q2">
            <label for="q2">Why can't I see the username of the person who posted?</label>
            <p> You can only see the username of the poster or commenter
                if you're logged into your account.
            </p>
            <p> If you don't have an account yet, you can create one
                by clicking on the "sign-up" button in the top right corner.
            </p>
        </section>


{% endblock %}