{% extends 'workoutweb/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Index Page
{% endblock %}


{% block body_block %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                      <div class="jumbotron" style="text-align:center">
                        <h1><font face="Berlin Sans FB">Welcome to Workout Web </font></h1>
                        <p><font face="Cambria">Here at Workout Web the user is the priority. We offer an open and professional environment for users
                        to share and post their tips and opinions on everything workout and fitness.</font></p>
                      </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div>

        <!-- Tables -->
        {% if categories %}
        <ul>
            {%  for  key,value in categories.items %}
                <div class="tab">
                    <h3><font face="Berlin Sans FB"><a href="{% url 'workoutweb:show_category' key.slug %}">{{ key.name }}</a></font></h3>
                </div>
            <table>
                <thead>
                    <tr>
                        <th><font face="Cambria">Title</font></th>
                        <th><font face="Cambria">Post</font></th>
                        <th><font face="Cambria">Likes</font></th>
                        <th><font face="Cambria">Views</font></th>
                    </tr>
                </thead>

                {% for post in value %}
                <tbody>
                <tr>
                    <td><strong>{{post.title}}</strong></td>
                    <td>{{post.content}}</td>
                    <td>{{post.likes}}</td>
                    <td>{{post.views}}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
    </div>

{% endblock %}
