  <!DOCTYPE html>
  <html>
  <head>
      <title>Rango</title>
  </head>
  <body>
      <div>
      {% if post %}
          <h1>{{ post.title }}</h1>
          <ul>{{ post.content }} </ul>
          <h2>Comment Section</h2>
         {% if comments %}
                    {% for comment in comments %}
                        <h3>{{ comment.title }}</h3>
                        <ul>{{ comment.content }} </ul>
                    {% endfor %}
         {% else %}
             <strong>No comments, be the first to reply!</strong>
         {% endif %}
          <form id="comment_form" method="post" action="/workoutweb/category/{{ post.category.slug }}/{{ post.slug }}/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
               <input type="submit" name="submit" value="Create Comment" />
          </form>

     {% else %}
         The specified post does not exist!
     {% endif %}
     </div>
 </body>
 </html>